# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
bin/
.vscode/

# Unit test / coverage reports
.coverage

# Docker & Singularity images
*.sif
*.tar

# Output
out/

# evaluation and results
*.ndjson
shards/
raw/
/results

# Wierd file
.nfs000000620b1b042f000016e3

